
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=76; */

/**
 * Item tray styles.
 *
 * @package     omeka
 * @subpackage  neatline-ItemTray
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


#item-tray
  background white
  color black
  padding 1em
  font-size 1.4em
  opacity 0.85

  ul
    margin 0

  a.title
    display list-item
    list-style none
    cursor pointer
    line-height 1.4em


#neatline
  #item-tray
    position absolute
    right 2em
    top 2em
