
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=80; */

/**
 * @package     omeka
 * @subpackage  neatline-Waypoints
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


form.waypoints

  .sort
    margin-top 1em

  .alert
    padding 2px 10px
    margin-bottom 15px
    border-radius 2px

  .alert-info
    cursor ns-resize
